@media (max-width: 576px) { 
#contact .container .ifram-div
{
    width: 100%;
}
#contact .container .input-group
{
    flex-direction: column;
}
#contact .container .input-group input
{
    width: 100%;
}
#contact .container .all-contact
{
    flex-direction: column;
}
#contact .container .all-contact >div
{
    width: 100%;
}

    footer .container
{
    flex-direction: column;
}
footer .container .about
{
    width: 100%;
}
footer .container .contact-details
{
    width: 100%;
}
}
@media (min-width: 768px) {
    footer .container .about
    {
        width: 50%;
    }
    footer .container .contact-details
    {
        width: 50%;
        order: 1;
    }
footer .container 
}
@media (min-width: 992px) {
   
}
@media (min-width: 1400px) {
   
}
@media (max-width: 576px) { 
    #chefs .chef-items
    {
        display: flex;
        flex-direction: column;
    }
    #chefs .container .item
    {
        width: 100%;
        margin-top: 1.25rem;
    }
    .gallery
    {
        height: 500vh;
    }
    .meal-item
    {
    width: 100%;
    
    }

}

@media screen and (min-width: 576px) and (max-width: 960px) { 
    .meal-item
    {
        width: calc(50% - 20px);
        

    }
 }
